

.header {
font-weight: bold;
font-size: xx-large;
color:darkgreen;
text-align: center;
}
.notFound {
  font-weight: bolder;
  font-size: 250px;
  color: darkred;
  text-align: center;
  animation: animate 1.5s linear infinite;
  background-color: darkgray;

}

.footer {
color:gray;
text-align: center;

}


