

.header {
font-weight: bold;
font-size: xx-large;
color:darkgreen;
text-align: center;
}

.footer {
color:gray;
text-align: center;
page-break-after: always;

}

.home {
  font-weight: light;
  font-size: medium;
  color:rgb(46, 149, 149);
  text-align: center;
}

.notFound {
  font-weight: bolder;
  font-size: 250px;
  color: darkred;
  text-align: center;
  animation: animate 1.5s linear infinite;
  background-color: darkgray;

}



